{% extends 'core/base.html' %}
{% load static globals_tags %}
{% block navbar %}{% include 'core/includes/header.html' with active_tab='blog' %}{% endblock %}


{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Блог</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Главная <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Блог <i
                            class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">

                {% for post in posts %}
                    <div class="col-md-6 col-lg-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="blog-single.html" class="block-20 d-flex align-items-end"
                               style="background-image: url({{ post.main_image.image.url }});">
                                <div class="meta-date text-center p-2">
                                    <span class="day">{{ post.date_created|date:"d" }}</span>
                                    <span class="mos">{{ post.date_created|date:"M" }}.</span>
                                    <span class="yr">{{ post.date_created|date:"Y" }}</span>
                                </div>
                            </a>
                            <div class="text border border-top-0 p-4">
                                <h3 class="heading"><a href="#">{{ post.title }}</a></h3>
                                <p>{{ post.short_description }}</p>
                                <div class="d-flex align-items-center mt-4">
                                    <p class="mb-0"><a href="{% url 'post' post.slug %}" class="btn btn-primary">Подробнее<span
                                            class="ion-ios-arrow-round-forward"></span></a></p>
                                    <p class="ml-auto mb-0">
                                    <p class="mr-2">Просмотров</p>
                                    <p class="meta-chat"> {{ post.count_views }}</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    {% include 'core/includes/pagination.html' with rows=posts %}
                </div>
            </div>
        </div>
    </section>



{% endblock %}