{% extends 'core/base.html' %}
{% load static globals_tags %}

{% block navbar %}{% include 'core/includes/header.html' with active_tab='contact' %}{% endblock %}

{% block content %}









<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/bg_1.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Контакты</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Главная <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>Контакты <i
                        class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-10">
                <div class="row mb-5">
                    <div class="col-md-4 text-center d-flex">
                        <div class="border w-100 p-4">
                            <div class="icon">
                                <span class="icon-map-o"></span>
                            </div>
                            <p><span>Адрес:</span>г. Киев ул. Григория Сковороды, 19 БЦ Podil Plaza
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center d-flex">
                        <div class="border w-100 p-4">
                            <div class="icon">
                                <span class="icon-tablet"></span>
                            </div>
                            <p><span>Телефон:</span> <a href="#">Заказать обратный звонок</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center d-flex">
                        <div class="border w-100 p-4">
                            <div class="icon">
                                <span class="icon-envelope-o"></span>
                            </div>
                            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-5" align="center">
            <p class="contact_inform1">Внимание!!!</p>
            <p class="contact_inform">На время пандемии мы работаем полностью удаленно. Все заявки обрабатываются в режиме online. Документы вы
                можете получитьв личном кабинете или позвонить своему личному менеджеру и запросить доствку оригиналов
                на дом. Напоминаем, что доставка бесплатна!</p>
        </div>
        <div class="col-md-12 mb-5" align="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5079.073820282012!2d30.51968160727801!3d50.468347591765216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce3e3662d099%3A0x68ea323868d831a3!2sPodil%20Plaza!5e0!3m2!1sru!2sru!4v1592710051691!5m2!1sru!2sru"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-10 mb-md-5">
                <h2 class="text-center">Остались вопросы? <br>Заполните форму и мы с вами свяжемся</h2>
                <form action="#" class="border p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Тема обращения">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                                  placeholder="Описание"></textarea>
                    </div>
                    <div class="form-group" align="center">
                        <input type="submit" value="Отправить" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>




{% endblock %}