{% extends 'core/base.html' %}
{% load static globals_tags %}



{% block content %}





    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Почему люди выбирают International-Work</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Главная <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Почему именно мы <i
                            class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>




    <section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 d-flex">
						<div class="services-2 border rounded text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
							<div class="text media-body">
								<h3>Огромная база вакансий</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 border rounded text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
							<div class="text media-body">
								<h3>Лучшие условия</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 border rounded text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-insurance"></span></div>
							<div class="text media-body">
								<h3>Высокий уровень з/п</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 border rounded text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-money"></span></div>
							<div class="text media-body">
								<h3>Карьерный рост</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 border rounded text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-rating"></span></div>
							<div class="text media-body">
								<h3>Гарантии</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 border rounded text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
							<div class="text media-body">
								<h3>Гарантии</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>




        {% include 'core/includes/about_us.html' %}




{% endblock %}