{% extends 'core/base.html' %}
{% load static globals_tags %}



{% block content %}



    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Вакансии</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Главная <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Список вакансий <i
                            class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20 d-flex align-items-end"
                           style="background-image: url({% static 'img/image_2.jpg' %});">
                            <div class="meta-date text-center p-2">
                                <span class="day">19</span>
                                <span class="mos">Июня</span>
                                <span class="yr">2020</span>
                            </div>
                        </a>
                        <div class="text border border-top-0 p-4">
                            <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                            <p align="left">г. Зеленая Гура</p>
                            <p align="left">Cтавка: от 17 злотых в час</p>
                            <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                            <p align="left">Проживание: 250 злотых в месяц</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                                   data-target="#work_profile">Подробнее<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                <p class="mr-2">Просмотров</p>
                                <p class="meta-chat"> 175</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20 d-flex align-items-end"
                           style="background-image: url({% static 'img/image_2.jpg' %});">
                            <div class="meta-date text-center p-2">
                                <span class="day">19</span>
                                <span class="mos">Июня</span>
                                <span class="yr">2020</span>
                            </div>
                        </a>
                        <div class="text border border-top-0 p-4">
                            <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                            <p align="left">г. Зеленая Гура</p>
                            <p align="left">Cтавка: от 17 злотых в час</p>
                            <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                            <p align="left">Проживание: 250 злотых в месяц</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                                   data-target="#work_profile">Подробнее<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                <p class="mr-2">Просмотров</p>
                                <p class="meta-chat"> 175</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20 d-flex align-items-end"
                           style="background-image: url({% static 'img/image_2.jpg' %});">
                            <div class="meta-date text-center p-2">
                                <span class="day">19</span>
                                <span class="mos">Июня</span>
                                <span class="yr">2020</span>
                            </div>
                        </a>
                        <div class="text border border-top-0 p-4">
                            <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                            <p align="left">г. Зеленая Гура</p>
                            <p align="left">Cтавка: от 17 злотых в час</p>
                            <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                            <p align="left">Проживание: 250 злотых в месяц</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                                   data-target="#work_profile">Подробнее<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                <p class="mr-2">Просмотров</p>
                                <p class="meta-chat"> 175</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20 d-flex align-items-end"
                           style="background-image: url({% static 'img/image_2.jpg' %});">
                            <div class="meta-date text-center p-2">
                                <span class="day">19</span>
                                <span class="mos">Июня</span>
                                <span class="yr">2020</span>
                            </div>
                        </a>
                        <div class="text border border-top-0 p-4">
                            <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                            <p align="left">г. Зеленая Гура</p>
                            <p align="left">Cтавка: от 17 злотых в час</p>
                            <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                            <p align="left">Проживание: 250 злотых в месяц</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                                   data-target="#work_profile">Подробнее<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                <p class="mr-2">Просмотров</p>
                                <p class="meta-chat"> 175</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20 d-flex align-items-end"
                           style="background-image: url({% static 'img/image_2.jpg' %});">
                            <div class="meta-date text-center p-2">
                                <span class="day">19</span>
                                <span class="mos">Июня</span>
                                <span class="yr">2020</span>
                            </div>
                        </a>
                        <div class="text border border-top-0 p-4">
                            <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                            <p align="left">г. Зеленая Гура</p>
                            <p align="left">Cтавка: от 17 злотых в час</p>
                            <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                            <p align="left">Проживание: 250 злотых в месяц</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                                   data-target="#work_profile">Подробнее<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                <p class="mr-2">Просмотров</p>
                                <p class="meta-chat"> 175</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20 d-flex align-items-end"
                           style="background-image: url({% static 'img/image_2.jpg' %});">
                            <div class="meta-date text-center p-2">
                                <span class="day">19</span>
                                <span class="mos">Июня</span>
                                <span class="yr">2020</span>
                            </div>
                        </a>
                        <div class="text border border-top-0 p-4">
                            <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                            <p align="left">г. Зеленая Гура</p>
                            <p align="left">Cтавка: от 17 злотых в час</p>
                            <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                            <p align="left">Проживание: 250 злотых в месяц</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                                   data-target="#work_profile">Подробнее<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                <p class="mr-2">Просмотров</p>
                                <p class="meta-chat"> 175</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}