{% load static globals_tags %}



<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">О нас</span>
                <h2 class="mb-4">Почему клиенты выбирают нас?</h2>
            </div>
        </div>
        <div class="row tabulation mt-4 ftco-animate">
            <div class="col-md-4">
                <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
                    <li class="nav-item text-left">
                        <a class="nav-link active py-4" data-toggle="tab" href="#services-1"><span
                                class="flaticon-analysis mr-2"></span>Огромная база вакансий</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4" data-toggle="tab" href="#services-2"><span
                                class="flaticon-business mr-2"></span>Лучшие условия</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4" data-toggle="tab" href="#services-3"><span
                                class="flaticon-insurance mr-2"></span>Высокий уровень з/п</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4" data-toggle="tab" href="#services-6"><span
                                class="flaticon-search-engine mr-2"></span>Карьерный рост</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4" data-toggle="tab" href="#services-5"><span
                                class="flaticon-rating mr-2"></span>Гарантии</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4" data-toggle="tab" href="#services-4"><span
                                class="flaticon-money mr-2"></span>Работа по всему миру</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div class="tab-pane container p-0 active" id="services-1">
                        <div class="img" style="background-image: url({% static 'img/project-1.jpg' %});"></div>
                        <h3><a href="#">Огромная база вакансий</a></h3>
                        <p>В нашу базу входят более 130 компаний партнеров. Каждый из них имеет свою потребность в
                            кол-ве сотрудников. Тем не менее, каждый день мы предлагаем не менее 2000 различных вакансий
                            нашим клиентам.</p>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-2">
                        <div class="img" style="background-image: url({% static 'img/project-2.jpg' %});"></div>
                        <h3><a href="#">Лучшие условия на рынке</a></h3>
                        <p>Наша компания предлагает самые выгодные условия по сотрудничеству и трудоустройству граждан.
                            Мы не занимаемся отправкой людей в никуда. Все наши клиенты получают официальное
                            трудоустройство и весь соц. пакет. Этим значительно отличается наша компания, от других не
                            добросовестных компаний.</p>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-3">
                        <div class="img" style="background-image: url({% static 'img/project-3.jpg' %});"></div>
                        <h3><a href="#">Высокий уровень з/п</a></h3>
                        <p>Мы предлагаем высокобюджетные вакансии. В зависимости от выбранного графика вы будете
                            понимать, на какую з/п вам ориентироваться. Система премий и вознагрожданий за переработку -
                            неотъемленная часть любой работы.</p>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-4">
                        <div class="img" style="background-image: url({% static 'img/project-4.jpg' %});"></div>
                        <h3><a href="#">Карьерный рост</a></h3>
                        <p>Все компании партнеры нацелены на квалифицированные карты. Даже если вы новичек в данной
                            сфере, но работаете на результат, компания всегда поощрает вас. Так обязательно включен KPI
                            и Task list для получения повышения в этой должности. </p>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-5">
                        <div class="img" style="background-image: url({% static 'img/project-5.jpg' %});"></div>
                        <h3><a href="#">Гарантии</a></h3>
                        <p>Оказание услгу производится исключительно по договору. Сам договор абсолютно прозрачный. В
                            нем вы сможете разобраться не прибегая к услугам юриста. Для нас самое главное - доверие. Мы
                            всегда готовы помочь вам, вне зависимости от сложившихся ситуаций.</p>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-6">
                        <div class="img" style="background-image: url({% static 'img/project-6.jpg' %});"></div>
                        <h3><a href="#">Работа по всему миру</a></h3>
                        <p>Мы предлагаем вакансии по всему миру. Основная масса вакансий - Европа. Мы не делаем привязки
                            к конкретной стране. Мы реализуем ваш потенциал на все 100%. Исходя из ваших предпочтений у
                            вас будет охват аудитории работодателей, из которых вы сможете выбрать более подходящие для
                            вас.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>