{% load static globals_tags %}
<section>
    <div class="brand_area">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class=>
                    <div class="col-xl-12 text-center heading-section ftco-animate">
                        <h2 class="mb-4">Основные компании партнеры</h2>
                     </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-2 col-md-6 col-lg-3 ">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="single_brand">
                        <img src="{% static 'img/bg_3.jpg' %}" class="img_partner" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>