{% load static globals_tags %}








<section class="ftco-section testimony-section">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Отзывы</span>
                <h2 class="mb-4">Что о нас говорят наши клиенты</h2>
                <p>Нас на столько любят клиенты, что согласились оставить ссылку на свою соц. сеть, для проверки
                    доставерности данных. Авторизуйтесь для получения доступа к ссылке</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_1.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Перед карантином потерял работу. Увидел рекламу в интернете. Позвонили обьяснили
                                    условия. Не ожидал получить визу, ведь говорили что все границы закрыты. Спасли мою
                                    семью от финансовой пропасти. Спасибо!</p>
                                <p class="name">Михал Абрамов</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @abr**********</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_2.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Искала работу в Чехии, обратилась в данную компанию, из всего что предложили я
                                    выбрала вакансию горничной в отеле в городок Гаррахов. По условиям всё как было
                                    сказано, работаю уже 2,5 месяца, скоро уже домой.</p>
                                <p class="name">Ирина Самойлова</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @ang*****</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_3.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Спасибо за хорошее отношение и помощь! Очень профессиональный подход к работе. Все
                                    объясняют доступно, всегда на связи, и если возникают вопросы - всегда помогают их
                                    решить. Без Вас я не справился бы. Спасибо еще раз!</p>
                                <p class="name">Геннадий Тимощук</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @gen8****</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_1.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Вижу тут много вопросов из разряда «кто с ними работал», «кто пользовался их
                                    услугами», так вот, я работал! И при том дважды! Был в Чехии на автозаводе, затем
                                    по окончанию визы ездил в Израиль. Сейчас прошёл тестирование на Веритас в Венгрию!
                                    Думаю моим третьим обращением - все сказано!
                                    Конечно как и везде есть нюансы, но учитывая надежность - они незначительны. Желаю
                                    всем успехов и высоких заработков.</p>
                                <p class="name">Олег Усик</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @oske****</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_2.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Нормальные ребята. Всегда на связи, все организовано. Только вернулась из Чехии и
                                    планирую вернуться обратно. Всем рекомендую данную компанию.</p>
                                <p class="name">Оксана Величко</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @oks_******</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_3.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Работаю вахтовым методом. Сам с Житомира. Каждую зиму уезжаю на заработки в
                                    Финляндию. Дружный коллектив, комфортные условия проживания. Я доволен.</p>
                                <p class="name">Евгений Дымов</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @evgen******</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_1.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Я по профессии сантехник. Не ожидал что в Чехии за эту работу можно получать больше
                                    2000 евро. Пока семьи нет, работаю и зарабатываю. Большое спасибо компании за
                                    предоставленную возможность.</p>
                                <p class="name">Вячеслав Бабаев</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @babaev*******</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url({% static 'img/person_3.jpg' %})">
                            </div>
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>Очень долго не мог определиться с кадровым агенством. Приехал в офис, мне все
                                    обьяснили и предложили список из более 70 вакансий. Честно такого не ожидал. Рабочую
                                    визу сделали за неделю. Всем рекомендую.</p>
                                <p class="name">Петр Павлюченко</p>
                                <a href="#" data-toggle="modal" data-target="#instagram_profile"><span
                                        class="icon-instagram">  @pavl***</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>