{% load static globals_tags %}






<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Вакансии</span>
                <h2 class="mb-4">Список горящих вакансий</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'img/image_1.jpg' %});">
                        <div class="meta-date text-center p-2">
                            <span class="day">21</span>
                            <span class="mos">Июня</span>
                            <span class="yr">2020</span>
                        </div>
                    </a>
                    <div class="text border border-top-0 p-4">
                        <h3 class="heading"><a href="#">Рабочие на склады «DHL» в Чехию</a></h3>
                        <p align="left">г. Прага</p>
                        <p align="left">Cтавка: 150 крон в час</p>
                        <p align="left">График: 8 часов в день, 5-6 дней в неделю </p>
                        <p align="left">Проживание: 3000 крон в месяц</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                               data-target="#work_profile">Подробнее<span
                                    class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                            <p class="mr-2">Просмотров</p>
                            <p class="meta-chat"> 175</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'img/image_2.jpg' %});">
                        <div class="meta-date text-center p-2">
                            <span class="day">19</span>
                            <span class="mos">Июня</span>
                            <span class="yr">2020</span>
                        </div>
                    </a>
                    <div class="text border border-top-0 p-4">
                        <h3 class="heading"><a href="#">Рабочие на деревянную фабрику STELMET</a></h3>
                        <p align="left">г. Зеленая Гура</p>
                        <p align="left">Cтавка: от 17 злотых в час</p>
                        <p align="left">График: 12 часов в день, 5-6 дней в неделю </p>
                        <p align="left">Проживание: 250 злотых в месяц</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                               data-target="#work_profile">Подробнее<span
                                    class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                            <p class="mr-2">Просмотров</p>
                            <p class="meta-chat"> 175</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'img/image_3.jpg' %});">
                        <div class="meta-date text-center p-2">
                            <span class="day">19</span>
                            <span class="mos">Июня</span>
                            <span class="yr">2020</span>
                        </div>
                    </a>
                    <div class="text border border-top-0 p-4">
                        <h3 class="heading"><a href="#">Официант в гостиницы Болгарии</a></h3>
                        <p align="left">Cтавка: от 750 евро в месяц</p>
                        <p align="left">График: 8 часов в день, 5-6 дней в неделю </p>
                        <p align="left">Проживание: бесплатно</p>
                        <p align="left">Питание: бесплатное 3-раз. питание</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal"
                                               data-target="#work_profile">Подробнее<span
                                    class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                            <p class="mr-2">Просмотров</p>
                            <p class="meta-chat"> 175</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>