{% load static %}


<section class="ftco-section ftco-about ftco-no-pt ftco-no-pb ftco-counter" id="section-counter">
    <div class="container consult-wrap">
        <div class="row d-flex align-items-stretch">
            <div class="col-md-6 wrap-about align-items-stretch d-flex">
                <div class="img" style="background-image: url({% static 'img/about.jpg' %});"></div>
            </div>
            <div class="col-md-6 wrap-about ftco-animate py-md-5 pl-md-5">
                <div class="heading-section mb-4">
                    <span class="subheading">Возможность работать в Европе</span>
                    <h2>Миссия нашей компании</h2>
                </div>
                <p>Предоставление качественного пакета услуг населению</p>
                <div class="tabulation-2 mt-4">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block">
                        <li class="nav-item">
                            <a class="nav-link active py-2" data-toggle="tab" href="#home1"><span
                                    class="ion-ios-home mr-2"></span>Для нас</a>
                        </li>
                        <li class="nav-item px-lg-2">
                            <a class="nav-link py-2" data-toggle="tab" href="#home2"><span
                                    class="ion-ios-person mr-2"></span>Для клиента</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-2" data-toggle="tab" href="#home3"><span
                                    class="ion-ios-mail mr-2"></span>Для партнеров</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light rounded mt-2">
                        <div class="tab-pane container p-0 active" id="home1">
                            <p>Наша компания уже много лет осуществляет трудоустройство людей за границу. Мы помогаем
                                найти достойную работу
                                абсолютно каждому, не зависимо от его социального статуса, опыта работы или образования.
                                Благодаря прозрачной системе оказания услуг, у наших клиентов не возникает сомнений в
                                правильном выборе нашего агенства.</p>

                        </div>
                        <div class="tab-pane container p-0 fade" id="home2">
                            <p>Возможность получения работы своей мечты, отражающей всего его требования: зарплатные
                                ожидания, условия проживания, социальные горантии и медицинское обслуживание. Мы дорожим
                                каждым клиентом и помогаем ему с адаптацией в новой стране и рабочем месте</p>
                        </div>
                        <div class="tab-pane container p-0 fade" id="home3">
                            <p>За долгие годы сотрудничества ряд крупных компаний всецело доверяют нашему опытному
                                мнению. За все время, не одна компания не отказалась от сотрудников, рекомендованных и
                                трудоустроенными нашей компанией. Доверие - главный фактор, почему выбирают именно
                                нас!</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="13807">0</strong>
                                <span>Трудоустроено людей</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="520">0</strong>
                                <span>В этом месяце</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="35">0</strong>
                                <span>Заявок за сегодня</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>